:root{
    --primay-text-color:#0890b6;
    --second-text-color:#fcc419;
}
.body{
    background-image: url('https://wallpapercave.com/wp/wp4923981.jpg');
    background-size: cover;
    background-position: center;

    margin: 0;
    padding: 2rem 1rem;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.main{
    max-width: 25rem;
    background-color: #282c34ec;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    margin: auto;
}

.header,
.article,
.skills,
.footer{  
   padding: 0 2rem;
}
.header__profesional-image-container{
    margin: 0 auto;
    max-width: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}
.header__profesinal-image{
    width: 100%;
}

.article{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.article__title,
.article__keyswords,
.article__description{
    letter-spacing: 2px;
}
.article__title{
    margin: 0;
    font-size: 1.8rem;
}
.article__keyswords{
    margin: 0;
    font-size: 1.2rem;
    color:var(--second-text-color);
}
.article__description{
    margin: 0;
    font-size: 1rem;
}

.skills{
    color: #fff;
}
.skills__skills-list{
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.skills__skill{
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color:  var(--primay-text-color);
    transition: all 0.5s;
}
.skills__skill:hover{
   transition: all 0.5s;
   transform: scale(1.2);
   
}
.footer{
   
}
.footer__networks-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;


}
.footer__networks-list__item{
    
}


.footer__networks-list__item-link__icon{
    font-size: 2rem;
    color: #fff;
    transition: all 0.5s;
  
}
.footer__networks-list__item-link__icon:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}